@use "./../colors" as c;

.dot-window {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 100%;
    height: 16px;
    z-index: 100;
    border-bottom: 1px solid c.$gray-300;



    span {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
    }

    & :nth-child(1) {
        background-color: c.$red-500;
    }

    & :nth-child(2) {
        background-color: c.$yellow-500;
    }

    & :nth-child(3) {

        background-color: c.$green-500;
    }

}

progress {
    transition: 0.4s linear;
    appearance: none;

    height: 8px;
    border-radius: 100%;

    &::-webkit-progress-bar {
        background-color: c.$rose-200;
        border-radius: 8px;
    }

    &::-webkit-progress-value {
        background-color: c.$rose-600;
        border-radius: 8px;


    }
}

.apresentation {
    display: flex;
 
    align-items: center;
    justify-content: space-evenly;
   
    flex-direction: column;
    flex-wrap: nowrap;


}


.container-apresentation {

    display: flex;
    justify-content: center;
    align-items: center;
  

    gap: 64px;
   

    padding: 8px;
    width: 100%;

    // background-color: rgb(61, 49, 49);


}

.container-img {

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: c.$rose-600;

    flex-grow: 1px;
    padding: 8px;
    border-radius: 6px;



    &::before {
        position: absolute;
        display: block;
        content: "";
        width: 180px;
        height: 100%;
        rotate: -20deg;
        border-radius: 6px;
        background-color: c.$rose-300;
        opacity: 0.8;

    }




    img {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: c.$gray-900;
        color: transparent;
        border-radius: 100%;
        width: 190px;
        height: 190px;

    }


}

.container-txt {
    display: flex;
    flex-flow: column;
    justify-content: center;
   

  
    flex: 1;
    gap: 8px;

    padding: 8px;

    flex-grow: 1px;
    max-width: 400px;

    h1{
        color: c.$rose-600;
        text-transform: capitalize;
        font-weight: lighter;


    }

}

.container-tech {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    // margin-top: auto;

    min-height: 190px;
    width: 100%;
    border-bottom: 32px double c.$gray-200;


    // border: 1px solid c.$gray-200;
    // border-radius: 6px;
    // background-color: c.$gray-200;




    // .container-tech-slide {
    //     position: fixed;
    //     display: flex;
    //     justify-content: space-between;


    //     padding: 0px 32px;
    //     // top: 0;
    //     left: 0;

    //     width: 100%;
    //     z-index: 10;

    //     button {
    //         height: 48px;
    //         width: 48px;
    //         border-radius: 100%;
    //         border: none;
    //         background-color: #fff;

    //     }
    // }
}

.tech-item {
    transition: 0.4s linear;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: c.$white;

    height: 200px;
    width: 96px;

    overflow: hidden;

    padding: 8px;
    box-shadow: 0 31px 32px c.$gray-300;
    border-radius: 6px;
    flex: 1;


    max-width: 320px;

    &::after {
        transition: 0.4s linear;

        display: flex;
        justify-content: center;
        align-items: center;
        content: attr(data-title);
        background-color: c.$gray-50;
        color: c.$rose-600;

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }


    &:hover {

        &::after {
            opacity: 0;
        }

        opacity: 1;
        flex: 100;

    }

    li {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;

        * {
            flex: 1;
        }

        i {
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 8px;
        }


    }


}

