//npx sass -w ./public/sass/app.scss:./public/css/style.css -s compressed

@use "colors" as c;
@use "templates/apresentation.scss";

* {

    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    color: c.$gray-600;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
}

%padding {
    padding: 32px;
}

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-view {
    
    width: 90%;
}

.alert {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
    padding: 8px;
    color: c.$blue-600;


    * {

        color: c.$blue-600;
    }

    background-color:c.$blue-200;
    border: 2px solid;
    border-radius: 8px;
}

body {

    @extend %center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;


}

header {
    @extend %center;
    @extend %padding;


    width: 100%;
    min-height: 64px;
    background-color: c.$rose-600;
    background-color: transparent;


    .container-view {
        @extend %center;
        justify-content: space-between
    }


    article {
        @extend %center;
        // background-color: red;
    }

    nav {

        display: flex;
        gap: 18px;
        color: c.$rose-100;

        * {
            font-size: 16px;
            text-transform: capitalize;
            color: c.$blue-600;
        }

    }

}

main {
    @extend %center;
    @extend %padding;
    flex-direction: column;

    width: 100%;
    background-color: c.$gray-200;
    gap: 8px;
    flex: 1;

    section {

        min-height: 720px;
        background-color: c.$gray-50;
        padding: 8px;
        border-radius: 6px;

    }
}

footer {
    @extend %center;
    @extend %padding;


    width: 100%;
    min-height: 64px;
    background-color: rgb(162, 227, 251);

    .container-view {
        @extend %center;

        // background-color: red;
    }
}